<div>
  <img src="/assets/logo.png">
</div>
<section>

  <table>

    <thead>
    <tr>
      <th>Ville</th>
      <th>Nombre de joueur inscrits</th>
      <th>Joueur Minimum</th>
      <th>Joueur Maximum</th>

      <th>Nombre de badge minimum</th>
      <th>Date de fermeture</th>
      <th>Catégorie</th>
      <th>Status</th>
      <th>Inscription</th>
    </tr>
    </thead>
    <tr *ngFor="let e of array">
      <td><a routerLink="/arenas/{{e.arenaId}}">{{e.city}}</a></td>
      <td>{{e.nbMinPlayer}}</td>
      <td>{{e.nbMaxPlayer}}</td>
      <td>{{e.nbPlayer}}</td>
      <td>{{e.badgeMin}}</td>
      <td>{{e.closingDate}}</td>
      <td>{{e.category}}</td>
      <td *ngIf="e.status === 'pending'">En attente de joueur</td>

      <td *ngIf="e.status === 'inProgress'">En cours</td>
      <td *ngIf="e.status === 'finished'">Terminé</td>
      <td *ngIf="e.status === 'pending'">
        <button (click)="newPlayer(e.arenaId)">Je te choisis !</button>

      </td>
      <td *ngIf=" e.status === 'finished' || e.status === 'inProgress' ">
        trop tard !
      </td>
    </tr>

  </table>




</section>



