nav{
  display:flex;
  justify-content: flex-end;
  font-weight: bold;


}

a{
  margin-right:2rem;
  font-weight: 400;

}

div p {
  margin-left:1rem;
  font-weight: bold;

}

section{

  display:flex;
  justify-content: space-between;
  margin-top:1rem;
  font-family: "Gloria Hallelujah", cursive;
}
