
<div>
  <img src="/assets/logo.png">
</div>
<section>

  <table>

    <thead>
    <tr>
      <th>Ville</th>
      <th>Nombre de joueur maximum</th>
      <th>Nombre de joueur Minimum</th>
      <th>Nombre de joueur inscrits</th>
      <th>Nombre de badge minimum</th>
      <th>Nombre de badge maxmimum</th>
      <th>Date de fermeture</th>
      <th>Catégorie</th>
      <th>Status</th>
    </tr>
    </thead>
    <tr>

      <td>{{arena.city}}</td>
      <td>{{arena.nbPlayer}}</td>
      <td>{{arena.nbMaxPlayer}}</td>
      <td>{{arena.nbMinPlayer}}</td>
      <td>{{arena.badgeMin}}</td>
      <td>{{arena.badgeMax}}</td>
      <td>{{arena.closingDate}}</td>
      <td>{{arena.category}}</td>
      <td>{{arena.status}}</td>



    </tr>

  </table>

  <button>S'inscrire !</button>

</section>



