<section>
  <div>
    <img src="/assets/logo.png">
  </div>

  <form [formGroup]="arenaForm" (ngSubmit)="newArena()">

    <input type="text" formControlName="city" placeholder="Ville de l'arène">
    <input type="number" formControlName="nbMinPlayer" placeholder="Nombre de joueur minimum">
    <input type="number" formControlName="nbMaxPlayer" placeholder="Nombre de joueur maximum">

    <select formControlName="category">
      <option *ngFor="let v of categories" [value]="v">
        {{v}}
      </option>
    </select>
    <select formControlName="status">
      <option *ngFor="let s of status" [value]="s">
        {{s}}
      </option>
    </select>
    <input type="number" formControlName="round" placeholder="Round">
    <input type="number" formControlName="badgeMin" placeholder="Nombre de badge minimum">
    <input type="number" formControlName="badgeMax" placeholder="Nombre de badge maximum">

    <div>
     <input type="checkbox" formControlName="badgeMax" placeholder="Arène réservée aux femmes">
     <p>Arène réservée aux femmes </p>
   </div>

    <input type="submit" value="Inscrire">

  </form>


</section>

