<section>
  <div>
    <img src="/assets/logo.png">
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="register()">

    <input type="text" formControlName="pseudo" placeholder="pseudo">
    <input type="text" formControlName="mail" placeholder="mail">
    <input type="password" formControlName="password" placeholder="mot de passe">
    <input type="date" formControlName="birthdate" placeholder="Date d'anniversaire">
    <select formControlName="gender" >
      <option *ngFor="let v of genders" [value]="v">
        {{v}}
      </option>
    </select>

    <select formControlName="role">
      <option *ngFor="let r of roles" [value]="r">
        {{r}}
      </option>
    </select>
    <select formControlName="arenaId">
      <option *ngFor="let e of array" [value]="e">
      {{e.city}}
      </option>

    </select>

    <input type="submit" value="Inscrire">

  </form>



</section>
