<section>
  <div>
    <img src="/assets/logo.png">
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="register()">

    <input type="text" formControlName="pseudo" placeholder="pseudo">
    <input type="text" formControlName="mail" placeholder="mail">
    <input type="password" formControlName="password" placeholder="mot de passe">
    <input type="date" formControlName="birthdate" placeholder="Date d'anniversaire">
    <input type="number" formControlName="badges" placeholder="Nombre de badges">
    <select formControlName="gender">
      <option *ngFor="let v of genders" [value]="v">
        {{v}}
      </option>
    </select>

    <select formControlName="role" [multiple]="true">
      <option *ngFor="let role of roles" [ngValue]="role">
        {{role}}
      </option>
    </select>
    <select formControlName="arenaId" [multiple]="true">
      <option *ngFor="let e of array" [ngValue]="e.arenaId">
        {{e.city}}
      </option>

    </select>

    <input type="submit" value="Inscrire">

  </form>


</section>
